@font-face {
  font-family: "Paris Helen";
  src: url("../fonts/paris_helen.ttf") format("truetype");
}

body {
  background-color: $mycolor;
  user-select: none;
}

h1 {
  font-family: "Paris Helen", sans-serif;
}

html {
  visibility: visible;
  opacity: 1;
}
